{% extends 'base.html' %}
{% block title %}instructor course details{% endblock %}
{% block body %}
  <header>
    <h1>Course homepage: {{title}}</h1>
  </header>

  <nav>
    <ol id="sortable" class="list-group col-sm-3">
    {% for m in modules %}
	   <li class="list-group-item list-group-item-action"><a href="{% url 'moduleIns' mid=m.modID iid=iid cid=cid %}">{{m.place}}: {{m.title}}</a></li>
	  {% endfor %}
  </ol>
  </nav>
  <br>

  <div class="btn-group" role="group" aria-label="JustButtongroup">
    <a class="btn btn-primary" href="{% url 'moduleCreate'  iid=iid cid=cid %}">Create a new module</a>
    <a class="btn btn-secondary" href="{% url 'instructorHome' iid=iid %}">Back to homepage</a>
  </div>

  {% if empty == 0 %}
  <div>
  	<form  method='POST' action='{% url "change_mod_order" iid=iid cid=cid %}'>
      {% csrf_token %}
      Reposition module <select name="origin">
    	{% for a in modules %}
    	<option value="{{a.place}}">{{a.title}}</option>
    	{% endfor %}
    	</select>
    	To <select name="destination">
    	<option value="0">the begining</option>
    	{% for a in modules %}
    	<option value="{{a.place}}">after {{a.title}}</option>
    	{% endfor %}
    	</select>
    	<input type="submit" name="b" value="Reposition">
  	</form>
  </div>
  {% endif %}

  <footer>

  </footer>

  <script>
    $( function() {
     $( "#sortable" ).sortable({
       update: function (event, ui){
         console.log($(this));
       }
     });
     $( "#sortable" ).disableSelection();
    } );
  </script>
{% endblock %}
