{% extends 'layout.html' %}

{% block header %}
<title>Courses</title>
{% endblock %}

{% block sidebar %}
<div id="module-list">
                      

	<a href="#!course">course</a><br>
	<a href="#!green">Green</a>
	<a href="#!blue">Blue</a>



</div>
<nav>
    <ul>
      {% for m in avamodules %}
	  <li><a href="{% url 'module' lid=lid mid=m.modID p=p cid=cid counter=m.counter %}">{{m.title}}</a></li>
	  {% endfor %}
	  {% for m in unavamodules %}
	  <li>{{m.title}}</li>
	  {% endfor %}
	  </ul>
  </nav>
{% endblock %}

{% block content %}

{% endblock %}
<body>

  <footer>
    
  </footer>
</body>
</html>