{% extends 'layout.html' %}

{% block header %}
<title>Courses</title>
{% endblock %}

{% block sidebar %}
<div id="module-list">
	<nav>
    <ul>
      {% for m in avamodules %}
	  <li><a href="{% url 'module' lid=lid mid=m.modID p=p cid=cid counter=m.counter %}">{{m.title}}</a></li>
	  {% endfor %}
	  {% for m in unavamodules %}
	  <li>{{m.title}}</li>
	  {% endfor %}
	  </ul>
  </nav>          

</div>

{% endblock %}

{% block content %}

{% endblock %}

{% block script %}
<script>
	var app = angular.module("myApp", ["ngRoute"]);
	app.config(function ($routeProvider) {
			$routeProvider
					.when("/course", {
							templateUrl: "/learner/course/module/1/1/0/7/1/"
					})
					.when("/green", {
							templateUrl: "quiz.html"
					})
					.when("/blue", {
							templateUrl: "quiz.html"
					});
	});
</script>
{% endblock %}

<body>

  <footer>
    
  </footer>
</body>
</html>