<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block header %} {% endblock %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'learner.css' %}" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
      crossorigin="anonymous"
    ></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
  </head>

  <body ng-app="ICEApp" ng-controller="ICEAppController">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="{% url 'learner' id=lid %}">ICE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'learner' id=lid %}"><span class="fas fa-book"></span>&nbsp; Course <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'allcourses' lid=lid cate=0 alert=0 %}"><span class="fas fa-plus"></span>&nbsp; Enroll Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_history' lid=lid%}"><span class="fas fa-history"></span>&nbsp; History</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span>&nbsp; Log-out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>




    <div id="container">
      <div class="grid sidebar">
        {% block sidebar %} {% endblock %}
      </div>

      <div class="grid content">
        <div id="component-list">
          <div ng-view></div>
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>

    <script>
      var app = angular.module("ICEApp", ["ngRoute"]);
    </script>
    {% block script %} {% endblock %}
  </body>
</html>
