<DOCTYPE! html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Learner's homepage</title>
</head>
<body>
  <header>
    <h1>Welcome, {{name}}</h1>
  </header>
  <div class = 'container'>
  <h2>These are the courses you are currently taking</h2>
  <nav>
    <ul>
      {% for Course in courses %}
	  <li><a href="{% url 'course' lid=lid p=Course.progress cid=Course.courseID %}">{{Course.title}}, finished modules: {{Course.progress}}</a></li>
	  {% endfor %}
	</ul>
  </nav>
  </div>
  <footer>
    ICE -one tool to learn it all
  </footer>
</body>
</html>