<DOCTYPE! html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'learner.css' %}">
  </head>

  <body>
    <header>
      <h1>Quiz</h1>
    </header>
    <nav>
      <ul>
        {% for q in questions %}
        <li>{{q.content}}</li>
        {% endfor %}
      </ul>
    </nav>
    <button id="subquizbutton">Submit Quiz</button><br>
    <a href="{% url 'course' lid=lid cid=cid p=p %}"></a>
    <div id="results">
      <h5 id="marks">8/10</h5>
      <h5 id="passing">Pass</h5>
    </div>
    <footer>

    </footer>
    <script>
      $(document).ready(function () {
        $("#results").hide();
        $("#subquizbutton").click(function () {
          $("#results").show();
        });

      });


    </script>
  </body>

  </html>
