{% extends 'course/base.html' %}
{% block body %}
  <h1>This is module: {{ module.name }}</h1>
  <form method="post" action="{% url 'course:addCom' module.id  %}">
    {% csrf_token %}
    <div class="form-group">
      <label> Select Component </lable>
      <select class="form-control" name="component_id">
        {% for component in module.course.component_set.all %}
          {% if not component.is_select %}
          <option value="{{ component.id }}">{{ component.name }}{{ component.id }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-default">Add</button>
    </div>
  </form>

{% for component in module.course.component_set.all %}
<ul>
  {% if component.is_select %}
    {% if component.module_id == module.id %}
      {% if component.category == 'text' %}
        <li>{{ component.text }}</li>
      {% else %}
        <li><img src="{{ component.image.url }}"></li>
      {% endif %}
    {% endif %}
  {% endif %}
</ul>
{% endfor %}

  <br>
{% if not module.have_quiz %}
  <form method="post" action="{% url 'course:addQuiz' module.id  %}">
    {% csrf_token %}
    <div class="form-group">
      <label> Select Quiz </lable>
      <select class="form-control" name="quiz_id">
        {% for quiz in module.course.quiz_set.all %}
          {% if not quiz.is_select %}
          <option value="{{ quiz.id }}">{{ quiz.name }}{{ quiz.id }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </form>
{% endif %}

  {% for quiz in module.course.quiz_set.all %}
    {% if quiz.is_select %}
      {% if quiz.module_id == module.id %}
      <p>You can see the question bank of quiz below:</p>
      <p>Number in this quiz: {{ quiz.number }}</p>
      <p>Pass requirement: {{ quiz.passRequire }}</p>
      <ol>
        {% for question in quiz.question_set.all %}
          <li>{{ question.question }}     Answer:  {{ question.answer }}
            <ol type='A'>
              <li>{{ question.option_1 }}</li>
              <li>{{ question.option_2 }}</li>
              <li>{{ question.option_3 }}</li>
              <li>{{ question.option_4 }}</li>
            </ol>
          </li>
        {% endfor %}
      </ol>
      {% endif %}
    {% endif %}
  {% endfor %}

{% endblock %}
