<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}" />

  </head>

  <body>

    <div class="container">
      
      <form class="form-signin" method="post">
          <h2 class="form-signin-heading">Login</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>

    </div>



  </body>
</html>